
/*
* ==========================================================
*     GENERAL STYLES
* ==========================================================
*/


body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


a,
i,
span {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  
}


a{
  color: inherit;
}

section {
  padding: 50px 0;
}


a:hover, a:focus,
i:hover,
i:focus,
span:hover,
span:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

.container-fluid {
  padding: 0 30px;
}

@media (max-width: 575px) {
  .container-fluid {
    padding: 0 15px;
  }
}

button,
input {
  outline: none !important;
}


/*=== Helpers ===*/

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 0.9rem;
}

.text-xsmall {
  font-size: 0.8rem;
}

.bg-green {
  background:#49c1a2 !important;
  color: #fff;
}

.bg-green:hover {
  color: #fff;
}

.bg-orange {
  background: #ffc36d !important;
  color: #fff;
}

.bg-orange:hover {
  color: #fff;
}

.bg-violet {
  background: #796AEE !important;
  color: #fff;
}

.bg-violet:hover {
  color: #fff;
}

.bg-gray {
  background: #ced4da !important;
}

.bg-white {
  background: #fff !important;
}



.text-green {
  color:#49c1a2;
}

.text-green:hover {
  color: #54e69d;
}

.text-orange {
  color: #ffc36d;
}

.text-orange:hover {
  color: #ffc36d;
}

.text-gray {
  color: #ced4da;
}

.text-white {
  color: #ced4da;
}


.text-gray:hover {
  color: #ced4da;
}

.text-uppercase {
  letter-spacing: 0.2em;
}

.lh-2 {
  line-height: 2;
}

.header1 {
font-size: 3rem;
}


.header2 {
  font-size: 2.5rem;
  }
  
.header3 {
  font-size: 2rem;
  }
  .header4 {
    font-size: 1.5rem;
    }
    .header5{
      font-size: 1rem;
    }
  

.no-padding {
  padding: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.has-shadow {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

.badge {
  font-weight: 400;
}

.badge-rounded {
  border-radius: 50px;
}

.overflow-hidden {
  overflow: hidden;
}

.mb-25 {
  margin-bottom:25px;
}


.mb-50 {
  margin-bottom:50px;
}

.mt-25 {
  margin-top:25px;
}
.mt-20 {
  margin-top:20px;
}



/*
* ==========================================================
*     BUTTONS
* ==========================================================
*/


.btn {        
  font-size: 16px;
  font-weight: bold;
  background: #49c1a2;
  border: none;
  min-width: 140px;
}   

.btn:hover, .btn:focus {
  background: #3cb094;
  outline: none !important;
}



/*
* ==========================================================
*     FORM CONTROL
* ==========================================================
*/


.form-control {		
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e4e5;
}
.form-control:focus {
    border-color: #49c1a2;
}
.form-control, .btn {        
    border-radius: 3px;
}

@media (max-width: 576px) {
  .control-label {

    font-size:0.9em;
}
}


/*
* ==========================================================
*     SIGNUP-LOGIN FORM
* ==========================================================
*/



.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form form {
    color: #9ba5a8;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.signup-form hr {
    margin: 0 -30px 20px;
}    
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #49c1a2;
    border: none;
    min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #3cb094;
    outline: none !important;
}
.signup-form a {
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #49c1a2;
    text-decoration: none;
}	
.signup-form form a:hover {
    text-decoration: underline;
}



/*
* ==========================================================
*     Cards
* ==========================================================
*/

.card {
    background-color: #fff;
    border: 0 solid #eee;
    border-radius: 0;
  }
  
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 1rem;
  }
  
  .card-subtitle {
    margin-top: -0.5rem;
  }
  
  .card-link + .card-link {
    margin-left: 1.25rem;
  }
  
  .card-header {
    padding: 1rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }
  
  .card-header:first-child {
    border-radius: 0 0 0 0;
  }
  
  .card-header-transparent {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: none;
  }
  
  .card-footer {
    padding: 1rem 1.25rem;
    background-color: #f8f9fa;
    border-top: 1px solid #eee;
  }
  
  .card-footer:last-child {
    border-radius: 0 0 0 0;
  }
  
  .card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -1rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  
  .card-img-overlay {
    padding: 1.25rem;
  }
  
  .card-img-overlay-opacity {
    background: rgba(0, 0, 0, 0.2);
  }
  
  .card-img {
    border-radius: 0;
  }
  
  .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .card-deck .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-deck {
      margin-right: -15px;
      margin-left: -15px;
    }
    .card-deck .card {
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  
/*
* ==========================================================
*     MISC
* ==========================================================
*/


  .project {
    padding:15px;
}


/*
* ==========================================================
*     USERS TABLE
* ==========================================================
*/



.main-box.no-header {
  padding-top: 20px;
}
.main-box {
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 16px;
  -webikt-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table a.table-link.danger {
  color: #e74c3c;
}
.label {
  border-radius: 3px;
  font-size: 0.875em;
  font-weight: 600;
}
.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}
.user-list tbody td .user-link {
  display: block;
  font-size: 1.25em;
  padding-top: 3px;
  margin-left: 60px;
}
a {
  color: #3498db;
  outline: none!important;
}
.user-list tbody td>img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}

.table thead tr th {
  text-transform: uppercase;
  font-size: 0.875em;
}
.table thead tr th {
  border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
  font-size: 1.125em;
  font-weight: 300;
}
.table tbody tr td {
  font-size: 0.875em;
  vertical-align: middle;
  border-top: 1px solid #e7ebee;
  padding: 12px 8px;
}

.checked {
  color: orange;
}